logger_message_width: 50

monitors:
- broker: 3.122.209.170
  name: 5f685dc02e9d83468db6e0f7
  send_interval: 20 # Seconds

  sensors:
    - Os
    - DesktopEnvironment

  commands:
    - Notify:
        custom_topics:
          - 5f685dc02e9d83468db6e0f7/directive/powerState


