monitors:
  - broker: BROKER_ADDRESS
    name: PC_NAME
    send_interval: 20 # Seconds

    sensors:
      - Cpu
      - CpuTemperatures
      - Ram
      - Os
      - DesktopEnvironment
      - Screenshot
      - Battery
      - Disk
      - Time
      - Brightness

    commands:
      - Lock
      - Reboot
      - Shutdown
      - Brightness
      - Notify


