div.key-list-item {
    border-bottom: 1px solid #d9dbde;
    padding-top: 16px;
    padding-bottom: 16px;
}

span.required-string {
    font-size: 80%;
}

span.optional-string {
    font-size: 70%;
}