table {
    border-collapse:collapse;
}

thead {
    background-color: #ffffff;
    color: #159957;
}

.required {
    background-color: #1599573d;
}

.optional {
    background-color: #fefefe;
}

os-compatiblity {
    width: 30%;
}