div.key-list-item {
    border-bottom: 1px solid #d9dbde;
    padding-top: 16px;
    padding-bottom: 16px;
}

div.key-list-item-header {
    margin: 0 0 0 0;
}

span.key {
    font-family: 'Gentium Basic', serif;
    font-size: 150%;
}

span.required-string {
    padding-top: 4px;
    font-size: 80%;
    color: orange;
    font-weight: 700;
    font-style: italic;
}

span.optional-string {
    padding-top: 4px;
    font-size: 70%;
    font-weight: 400;
    color: orange;
    font-style: italic;
}

span.type {
    padding-top: 2px;
    font-size: 70%;
    padding-right: 5px;
    color: cornflowerblue;
}

