#toc_container {
    background: #f2ffd5 none repeat scroll 0 0;
    border: 1px solid rgb(8, 100, 112);
    border-radius: 5px;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}
