#toc_container {
    background: #ffffff none repeat scroll 0 0;
    border: 0px solid rgb(8, 100, 112);
    border-radius: 5px;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
    float: right;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

.current_link {
    color: #1eb8a4;
}

.common_link {
    color: #159957;
}
