div.topic-list-item {
    border-bottom: 1px solid #d9dbde;
    padding-top: 16px;
    padding-bottom: 16px;
}

div.key-list-item-header {
    margin: 0 0 0 0;
}

span.topic {
    font-family: 'Gentium Basic', serif;
    font-size: 150%;
}

span.topic-type-string {
    padding-top: 4px;
    font-size: 80%;
    font-weight: 700;
    color: orange;
    font-style: italic;
}

span.topic-advanced {
    font-weight: 500 !important;
    color: rgb(255, 102, 0) !important;
}

div.topic-lower-div {
    padding-left: 1%;
}

span.payload-need-string {
    padding-top: 4px;
    padding-left: 6px;
    font-size: 80%;
    font-weight: 400;
    color: rgb(63 97 127);
    font-style: italic;
}

span.needed-payload {
    font-weight: 700 !important;
    color: rgb(0 115 217)  !important;
}

div.topic-payload {
    padding-top: 10px !important;
    padding-left: 10px;
    border-left: 3px solid rgb(0 115 217 / 51%);
}

.payload-header {
    color: rgb(0 115 217) !important;
    font-size: 120%;
    padding-bottom: 15px;
    display: inline-block;
}

.payload-config {
    padding-right: 20px;
}

.payload-config .key-list-item {
    border-bottom: 2px dotted rgb(0 115 217 / 51%)  !important;
    padding-top: 2px !important;
}


.payload-config .key {
    font-size: 130% !important;
}
