div.topic-list-item {
    border-bottom: 1px solid #d9dbde;
    padding-top: 16px;
    padding-bottom: 16px;
}

div.key-list-item-header {
    margin: 0 0 0 0;
}

span.topic {
    font-family: 'Gentium Basic', serif;
    font-size: 125%;
}

span.topic-type-string {
    padding-top: 4px;
    font-size: 80%;
    font-weight: 600;
    color: orange;
    font-style: italic;
}

span.topic-advanced {
    font-weight: 700 !important;
}